body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  font-size: 120px;
  color: #D3D3D3;
}
#landing-header h2 {
  font-size: 45px;
  color: #D3D3D3;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://ksr-ugc.imgix.net/assets/021/438/210/eeec77c77043da1566a2c4ccf16f5fb5_original.jpg?w=680&fit=max&v=1527878511&auto=format&q=92&s=d21b3b4a97b943ca98fd6ccb9ec63014)
}
.slideshow li:nth-child(2) { 
  background-image: url(https://ksr-ugc.imgix.net/assets/021/985/515/b15bf80b206e4df5374a7b8f6233ef33_original.JPG?w=680&fit=max&v=1532308096&auto=format&q=92&s=5117edd872e90d7aa623727c488ac7f4);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://ksr-ugc.imgix.net/assets/013/516/149/893c4010628f8d90852e756da5b8deb1_original.gif?w=680&fit=max&v=1472328344&auto=format&gif-q=50&q=92&s=d6889f29a6140fb99941fc944778aae0);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://ksr-ugc.imgix.net/assets/021/612/925/53acd7f701d8786907b43cb0f5cca8c0_original.gif?w=680&fit=max&v=1529281167&auto=format&gif-q=50&q=92&s=4958074decf318aa843c5a7a7adc71ca);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://ksr-ugc.imgix.net/assets/014/865/737/22a6a55508e9f4bffd51cf22baaf26ab_original.png?crop=faces&w=1552&h=873&fit=crop&v=1505855621&auto=format&q=92&s=58b912f528ea1db176eb0faa7c47f288);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}