<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a New Project</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/projects/insert" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Enter projects name" required>
                </div>
                <div class="form-group">
                    <a href="#"  id="poster_upload_widget_opener" >Upload Poster image</a>
                    <input type="hidden" id="posterCloud" name="posterCloud" value = "null" >
                </div>
                <div class="form-group">
                    <label for="oneLiner">Project one line Description</label>
                    <textarea class="form-control" rows="1" name="oneLiner" id="oneLiner" method="post" required></textarea>
                </div>
                <div class="form-group">
                    <label for="description">Project Full Description:</label>
                    <textarea class="form-control" rows="10" name="description" id="description" method="post" required></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" type="url" name="link" placeholder="Add a link for more information">
                </div>
                <div class="form-group">
                    <input class="form-control" type="url" name="video" placeholder="Projects video url">
                </div>
                <div class="form-group">
                         <span class="form-control">$
                            <input type="number" name="moneyToRaise" placeholder="Enter the amount of money needed to be raised" value=5000 min="1000" required>
                        </span>
                </div>
                <div class="form-group">
                 <label for="date">End Date:</label>
                  <input id = "dateField" type="date" name="endTime" required>
                </div>
                <div class="form-group">
                    <a href="#"  id="upload_widget_opener" >Upload more images</a>
                    <input type="hidden" id="moreImages" name="moreImages" value = "null">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/projects">Go Back</a>
        </div>
    </div>
</div>
<script>
    //making the project raise ens date to at least 3 days
    document.getElementById("dateField").setAttribute("min", new Date(new Date().getTime() + 3*24* 60 *60*1000).toJSON().split('T')[0]);
    document.getElementById("dateField").setAttribute("value", new Date(new Date().getTime() + 3*24* 60 *60*1000).toJSON().split('T')[0]);
</script>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script type="text/javascript">
    //apllaying first cloudinary upload widget
    document.getElementById("poster_upload_widget_opener").addEventListener("click", function() {
        cloudinary.openUploadWidget({
                multiple: false,
                cloud_name: 'ruslan-kickclone',
                upload_preset: 'v8cwbvgj',
                client_allowed_formats: ['png','gif', 'jpeg']},
            function(error, result) {
            //setting the uploaded image
                let img = {secure_url: result[0].secure_url, public_id:  result[0].public_id};
                document.getElementById("posterCloud").setAttribute("value", JSON.stringify(img));
        });
    }, false);

</script>

<script type="text/javascript">
    //allaying second cloudinary upload widget
    document.getElementById("upload_widget_opener").addEventListener("click", function() {
        cloudinary.openUploadWidget({
                multiple: true,
                cloud_name: 'ruslan-kickclone',
                upload_preset: 'v8cwbvgj',
                client_allowed_formats: ['png','gif', 'jpeg']},
            function(error, result) {
            //adding the new pictures
                let images = [];
                result.forEach(function (pic) {
                    images.push({secure_url: pic.secure_url, public_id:  pic.public_id});
                });
                console.log(error, result[0]);
                document.getElementById("moreImages").setAttribute("value", JSON.stringify(images));
            });
    }, false);

</script>
<% include ../partials/footer %>